
<div class="row task-description">
    任务描述：</br>
    搜索任务：<em>{{ task_description }}.</em> </br>
    </br>
    左侧展示的是用户在完成上述搜索任务时使用搜索引擎的查询、点击记录。你需要完成以下三步标注任务：</br>
    </br>
    STEP1: 请依据用户以下标准，标注每次点击结果对用户完成搜索任务是否有帮助：</br>
    1星（Bad）：完全没有帮助；</br>
    2星（Fair）：帮助很小；</br>
    3星（Good）：比较有帮助；</br>
    4星（Excellent）：非常有帮助</br>
    对于每个点击结果，你需要综合考虑结果内容是否对完成搜索任务有帮助；用户的停留时间（是否真的阅读了结果）；
    当前结果与之前浏览过的结果是否重复等因素。另外，如若遇到当前结果失效（网页无法打开，内容别删除等），请勾选当前结果失效。
    </br>

    </br>
    STEP2: 请标注用户对于每个查询是否感到满意(1星：最不满意-5星：最满意）</br>
    对于每个查询，你需要综合考虑查询时间，用户提交该查询的意图，查询中点击的结果与查询的相关性以及对于完成搜索任务是否有帮助等因素。
    </br>

    </br>
    STEP3: 最后，请标注用户对于整个搜索过程是否感到满意(1星：最不满意-5星：最满意）</br>
    </br>
</div>

<div class="row task-process">
    已完成单元/所有单元：{{ finished_unit_num }}/{{ all_unit_num }}
</div>

