<div class="row query-div">
    当前查询:<span class="query">{{ query }}</span>
</div>

<div class="row body-wrapper">
    <div class="results">
    {% autoescape off %}
        {{ html }}
    {% endautoescape %}
    </div>
</div>

<div class="row annotation-div">
    <script src="/static/raty/jquery.raty.js"></script>
        <div class="col-xs-6">
            <form id="submit-form" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task_id }}">
                <input type="hidden" name="unit_tag" value="{{ unit_tag }}">
            相关性标注：<span id="annotation_raty"></span>
            </form>
        </div>
        <div class="col-xs-offset-8">
            <div id="submit-btn" class="submit-btn btn btn-block btn-lg btn-primary">
                提交
            </div>
        </div>
    <script>
        $('#annotation_raty').raty('set', {
            number: 4,
            starOn: '/static/raty/img/star-on.png',
            starOff: '/static/raty/img/star-off.png'
        });
        $('#annotation_raty').raty('score', 2);
        $(function() {
            $('#submit-btn').click(
                    function () {
                        $('#submit-form').submit();
                    }
            );
        });
    </script>
</div>



